# Remove large files with
# find ./* -size +20M | cat >> .gitignore


*.project
obj/



*vcxproj*
addons.make
.compile and run.bat
*.cproject

./trappuzzlervs/trappuzzlervs/bin/trappuzzlerwin.zip
trappuzzlervs/.vs/trappuzzlervs/v15/
