# Remove large files with
# find ./* -size +45M | cat >> .gitignore
# git reset --soft origin/master
# git add .


*.project
obj/



*vcxproj*
addons.make
.compile and run.bat
*.cproject

trappuzzlervs/.vs/trappuzzlervs/v15/
trappuzzlervs/trappuzzlervs/bin/trappuzzlerwin.zip
